html {
  font-family: 'Futura', sans-serif;
  font-size: 1.5em;
}

.item {
  box-shadow: 4px 6px 12px 1px #bbb;
  border: none;
  /*transition: all 0.2s ease;*/
}

.color-field {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
}